
@*@{
    ViewBag.Title = "Persons";
}



<p>
    <button  class="btn btn-primary"> Add New Dealer</button>
    <button  class="btn btn-success"> Add New Customer</button>

</p>



<table id="personstable" name="personstable" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Unique Number</th>
            <th>Contact No.</th>
            <th>State</th>
            <th>Balance</th>
            <th>Last Transcation</th>
            

        </tr>
    </thead>

    <tbody></tbody>

</table>



@section scripts{
    <script src="/Scripts/Site_JavaScript.js"></script>
    <script src="/Scripts/Site_Jquery.js"></script>
}*@