
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/datatables/css/datatables.bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">

    <script src="/Scripts/modernizr-2.6.2.js"></script>




</head>
<body>
    <div>



        <div class="modal cusrecordmodal" @*style="display:block"*@ id="cusrecordmodal" role="dialog" aria-labelledby="cusrecordmodalLabel" name="cusrecordmodal">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="cusexampleModalLabel1">New Record</h4>
                    </div>
                    <div id="cusrecordmodal" name="cusrecordmodal" class="modal-body">
                        <form id="cusrecordform" name="cusrecordform">

                            <div class="clearfix"></div>
                            <p>
                                <div class="row col-md-12">


                                    <div class="col-md-3">
                                        <label>Customer/Dealer</label>
                                        <select class="form-control" id="persons" required name="persons"></select>


                                    </div>

                                    <div class="col-md-2">
                                        <label>Stock Type</label>
                                        <select class="form-control" id="types1" required name="types1"></select>


                                    </div>

                                    <div class="col-md-4">

                                        <label style="display:block; text-align:center;">Reciept Identification</label>

                                        <span>
                                            <span class="col-md-6" style="display:inline-block; float:left">
                                                <select class="form-control" id="receipts" required name="receipts"></select>

                                            </span>

                                            <span class="col-md-6" style="display:inline-block; float:left">
                                                <input type="text" class="form-control" required name="receiptnum" id="receiptnum" />

                                            </span>
                                        </span>



                                    </div>

                                    <div class="col-md-3">
                                        <label>Balance</label>

                                        <input type="number" class="form-control" style="text-align:center; " readonly required name="balance" id="balance" />

                                    </div>



                                </div>
                            </p>


                            <p>

                            </p>

                            <p>

                            </p>

                            <div class="col-md-12">


                                <table id="cusrecord" name="cusrecord" class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Item </th>
                                            <th>Quantity </th>
                                            <th>Damaged</th>
                                            <th>Balance </th>
                                            <th>Amount</th>
                                            <th></th>

                                        </tr>

                                        <tr role="row" id="cusrecform" name="cusrecform">
                                            <td>
                                                New
                                            </td>
                                            <td><select class="form-control" id="items1" required name="items1"></select></td>
                                            <td>
                                                <span style="display: inline-table;     width: 40%;"><input type="number" style="text-align:center;" class="form-control col-md-4" required name="reams1" id="reams1" /> <b> Reams </b></span>
                                                <span style="display: inline-table;  margin-left:5px;  width: 40%;"><input type="number" style="text-align:center;" class="form-control col-md-4" required name="sheets1" id="sheets1" /> <b> Sheets </b></span>


                                            </td>
                                            <td>

                                                <input type="checkbox" value="true" id="isdamaged1" name="isdamaged1" class="check-box" />
                                                <input name="isdamaged1" type="hidden" value="false">


                                            </td>
                                            <td>
                                                <span style="display: inline-table;     width: 40%;"><input type="number" readonly class="form-control col-md-4" style="text-align:center;" required name="breams" id="breams" /> <b> Reams </b></span>
                                                <span style="display: inline-table; margin-left:5px;   width: 40%;"><input type="number" style="text-align:center;" readonly class="form-control col-md-4" required name="bsheets" id="bsheets" /> <b> Sheets </b></span>

                                            </td>
                                            <td>
                                                <input type="number" class="form-control col-md-4" required name="amount" id="amount" />
                                            </td>

                                            <td>
                                                <input type="submit" id="cusaddrecord" name="cusaddrecord" class="btn btn-primary" value="+" />

                                            </td>

                                        </tr>
                                    </thead>

                                    <tbody id="cusbody" name="cusbody">
                                    </tbody>



                                </table>

                                <div class="col-md-6" style="float:right;">

                                    <span class="col-md-4">
                                        <label>Total</label>
                                    </span>


                                    <span class="col-md-4" style="float:right;">



                                        <input type="number" class="form-control" readonly name="reams" id="reams" />


                                    </span>


                                </div>

                                @*<div class="col-md-6" style="float:right;">

                                    <span class="col-md-4">
                                        <button type="submit" id="cusaddrecord" name="cusaddrecord" class="btn btn-primary">Add New Record</button>

                                    </span>


                                    <span class="col-md-4" style="float:right;">



                                        <input type="number" class="form-control" readonly required name="reams" id="reams" />


                                    </span>


                                </div>*@




                                <div class="clearfix"></div>

                            </div>



                        </form>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-default closemodal" data-dismiss="modal">Close</button>
                        <button type="submit" id="newcusrecord" name="newcusrecord" class="btn btn-primary">Add</button>
                    </div>*@
                </div>
            </div>


        </div>



    </div>



    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="/Scripts/datatables/jquery.datatables.js"></script>
    <script src="/Scripts/datatables/datatables.bootstrap.js"></script>



    <script src="/Scripts/Sites/Site_Jquery.js"></script>
    <script src="~/Scripts/Sites/Record_Jquery.js"></script>


</body>




</html>
